body{
	padding: 0px;
	margin: 0px;
}

#container{
	width: 800px;
	height: 500px;
	border: none !important;
	overflow: auto;
	position: relative;
	margin: 0px auto;
	margin: 0px auto;
}

#slider-imgs{
	height: 100%;
	position: absolute;
}